/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  margin: 0 auto;
  padding: 20px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 2px 2px 6px darkviolet;
}

nav {
  height: 50px;
  width: 100%;

}
